.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background: linear-gradient(-22deg, #29323c 0%, #485563 100%);
    // linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); 
    // linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: #000;
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;
    z-index: 5;
}

.btn-toolbar {
    // color: #fafafa;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-toolbar:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.504);
}

span {
    align-content: center;
    margin-left: 0.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
}

.tipo-documento {
    font-size: 17px;
    margin-left: -0.1rem;
}

mat-icon {

    font-size: 25px;
    color: #000;
    overflow: visible;
}

mat-drawer {
    width: 260px;
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
    // linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); 
    // linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    // linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    border: 0;
    color: aliceblue;
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.title-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 26px;
    color: #fafafa;
}


mat-divider {
    margin: auto;
    background-color: #fafafa;
    width: 90%;
    margin-bottom: 1rem;
}

.example-container {
    height: calc(100% - 50px);
}

mat-drawer-content {
    padding-left: 1rem;
}

.mat-mdc-list-item {
    // width: 100%;
    padding: 0.2rem;
}

.btn-list {
    display: flex;
    margin: auto;
    justify-content: start;
    align-items: center;
    // border: none;
    // border-radius: 0.5rem;
    // background: none;
    cursor: pointer;
}

.item-list:hover {

    background-color: rgba(255, 255, 255, 0.248);

    .btn-list:hover {
        color: #fafafa;
    }
}

.titleItem {
    display: flex;
    flex-direction: column;
    align-items: start;
}

mat-drawer-content {
    padding: 8px 15px;
}

.mat-mdc-button {
    margin-left: 1rem;
    width: 82%;
}


MAT PANEL
.accordion {
    background: transparent;
    box-shadow: none;
}


.mat-expansion-panel {
    box-sizing: border-box;
    display: inline;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

    .mat-expansion-panel-header {
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        margin-left: 0.3rem;
    }

    .mat-expansion-panel-body.mat-expanded {
        transition-duration: 0.3s;
    }

    .mat-expansion-panel-body.mat-collapsed {
        transition-duration: 0.9s;
    }
}

:host ::ng-deep .mat-expansion-indicator::after {
    border-color: #000;
    margin-right: 2rem;
}


.active-link {
    .btn-list {
        // border-bottom: 1px solid #ff0844;
        transition: border-bottom 0.3s ease;
    }

    span {
        color: #ff0844 !important;
        transition: color 0.3s ease;
    }

    .icon {
        color: #ff0844 !important;
        transition: color 0.3s ease;
    }

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}