
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-list,
.container-form {
    margin: 10px;
}