.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);

}

mat-icon{
    color:#ff0844;
}

.content-table {
    margin-top: 1rem;
}

.table-header {
    text-align: center;
    width: 200px;


}

.user-id {
    width: 50px;
}

.mat-mdc-cell {
    text-align: center;
}

:host .mat-progress-spinner {
    color: #33f8ff; /* Cambia este valor al color deseado */
  }