.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
}

.content-table {
    margin-top: 1rem;
}

.table-header {
    text-align: center;
    width: 200px;


}

.user-id {
    width: 50px;
}

.mat-mdc-cell {
    text-align: center;
}