@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body {    
    --primary-color: #ff0844;
    font-family: 'Montserrat', sans-serif;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


